.nav_ul {
    /*position: fixed;
    top:0;*/
    background-color: #858585;
    list-style-type: none ;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_itm .nav_a{
    font-size: large;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    overflow: hidden;
}

.nav_itm .nav_btn{
    font-size: large;
    border: none;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    overflow: hidden;
}

.nav_itm:hover {
    background-color: #555;
    color: white;
}

.over {
    width:300px;
    height: 225px;
    float: left;
}

.over:hover {
    background-color: #888;
}


.over_img{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

#scroll {
    overflow: scroll;
    height: 30%;
}

#capture {
    border: black solid 1px;
    width: 60%;
    float: left;
    margin: 1% auto;
    padding: 1%;
}
#user_upload {
    border: black solid 1px;
    width: 35%;
    float: right;
    margin: 1% auto;
    padding: 1%;
    text-align: center;
}

#video , #canvas{
    transform: scaleX(-1);

}

.img_thumb {
    width:50px;
    height:50px;
}


form{
    text-align: center;
}
label {
    display: inline-block;
    width: 130px;
    text-align: left;
}
input:not([type="submit"]) {
    display: inline-block;
    margin: 2px auto;
    width: 40%;
    box-sizing: border-box;
}