#header {
    position: fixed;
    top:0;
    left: 0;
    z-index:3;
    height: 80px;
    width:100%;
    background-color: white;
}

#footer {
    position: fixed;
    bottom:0;
    left: 0;
    z-index:1;
    width:100%;
    background-color: white;
}

.nav_ul {

    background-color: #858585;
    list-style-type: none ;
    width: 100%;
    height: 70%;
    margin-top:1%;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
}

.nav_itm{
    float: left;
    width:160px;
}

.nav_a{
    font-size: large;
    display: block;
    color: white;
    text-align: center;
    /*padding: 4% 6%;*/
    height: 70%;
    width: 80%;
    margin: 15% 10% 15% 10%;
    text-decoration: none;
    overflow: hidden;
}

.nav_itm:hover {
    background-color: #555;
    color: white;
}

.over:hover {
    background-color: #555;
}

.gallery_img {
    width: 100%;
}

.gallery_div{
    width: 33%;
    vertical-align: middle;
    display: inline-block;
}

.over {
    width:50%;
    float: left;
}

.over_img{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.gallery_dialog_comment {
    width:80%;
    margin: 2% auto 0 auto;
    background-color: #999999;
    border-radius: 5px;
}

.gallery_dialog_action_btn{
    height: 80%;
    background-color: #999999;
    width: 150px;
    float: left;
    margin: 2% auto;
}

#dialog_back{
    position: fixed;
    top: 0;
    left: 0;
    background-color:rgba(200,200,200,0.5);
    text-align: center;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 2;
}

.dialog{
    width: 70%;
    height: 50%;
    background-color: white;
    border-radius: 5%;
    margin: 20% 15% auto ;
    display: inline-block;
    z-index: 900;
}

#content {

    width: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 8%;
}

#index_dialog_delete {
    margin: 2% auto;
}

#gallery_dialog_content {
    width: 95%;
    height: 95%;
    margin: 2% auto 0 auto;
    display: inline-block;
}

#gallery_dialog_image {
    width: 60%;
    height: 80%;
    float: left;
}

#index_dialog_image {
    width: 80%;
    height: 80%;
    margin: 5% auto 0 auto;
}

#gallery_dialog_img{
    width:100%;
    height: 100%;
}

#index_dialog_img {
    width:100%;
    max-height: 100%;
}

#gallery_dialog_action {
    width: 60%;
    height: 20%;
    float: left;
    position: relative;

}

#gallery_dialog_comments{
    width: 40%;
    height: 80%;
    overflow-y: scroll;
    float: left;
    display: inline-block;
}

#gallery_dialog_add_comment{
    width: 40%;
    height: 20%;
    float: left;
}

#gallery_dialog_add_comment_txt {
    width: 100%;
    height: 60%;
}

#gallery {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

#scroll {
    overflow: scroll;
    height: 30%;
}

#capture {
    border: black solid 1px;
    width: 60%;
    float: left;
    margin: 1% auto;
    padding: 1%;
}

#user_upload {
    border: black solid 1px;
    width: 35%;
    float: right;
    margin: 1% auto;
    padding: 1%;
    text-align: center;
}

#camera{
    position: relative;
}

#over_pre{
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#startbutton{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 6%;
    right: 6%;
    z-index: 2;
    border-radius: 30px;
}

#video , #canvas{
    /*position: absolute;*/
    top:0;
    left: 0;
    z-index:0;
    transform: scaleX(-1);
}

#canvas{
    visibility: hidden;
}

.img_thumb {
    width:80px;
    height:80px;
}
form{
    text-align: center;
}

label {
    display: inline-block;
    width: 130px;
    text-align: left;
}

input:not([type="submit"]) {
    display: inline-block;
    margin: 2px auto;
    width: 40%;
    box-sizing: border-box;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
}

ul.pagination li div {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li div:hover{
    background-color: #555;
}

ul.pagination li div.active {
    background-color: #858585;
    color: white;
}

video {
    max-width: 100%;
    width: 100%;
}

@media (min-width: 800px) {
    .gallery_div{
        width: 25%;
        vertical-align: middle;
        display: inline-block;
    }
}